.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.App__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
